<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:c="http://www.springframework.org/schema/c" xmlns:cache="http://www.springframework.org/schema/cache" xmlns:context="http://www.springframework.org/schema/context" xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee" xmlns:lang="http://www.springframework.org/schema/lang" xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p" xmlns:task="http://www.springframework.org/schema/task" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:util="http://www.springframework.org/schema/util" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
		http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<!-- 自动扫描controller包下的所有类，使其认为spring mvc的控制器 -->
	<context:component-scan base-package="com.zl.courseware.*.controller" />

	<!-- Spring MVC JSON配置 -->
	<bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean id="fastJsonHttpMessageConverter" class="com.zl.courseware.system.utils.FastJsonHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html;charset=UTF-8</value><!-- 避免IE出现下载JSON文件的情况 -->
							<value>text/xml;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver" p:prefix="/" p:suffix=".jsp" />

	<!-- 拦截器 -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.zl.courseware.system.framework.interceptors.SecurityInterceptor">
				<!-- 不需要权限验证的地址 -->
				<property name="excludeUrls">
					<list>
						<value>/admin/index</value><!-- 登录验证 -->
						<value>/admin/login</value><!-- 登陆 -->
						<value>/admin/logout</value><!-- 退出 -->
						<value>/main/getCode</value><!-- 获取验证码 -->
						<value>/checkresult/viewPlansHtml</value><!-- 发布静态html -->
						<value>*.svg</value><!-- 发布静态html -->
						
						<!-- SDK cc  -->
						<value>/coursewaresdk/server_getCoursewareList</value>
						<value>/coursewaresdk/server_uploadCoursewareFile</value>
						<value>/coursewaresdk/server_downLoadCoursewareFile</value>
						<value>/coursewaresdk/server_checkCoursewareName</value>
						<value>/coursewaresdk/server_getExprimentBycoursewareName</value>
						
						<!-- SDK es -->
						<value>/exptemplatesdk/server_getExperimentList</value>
						<value>/exptemplatesdk/server_downLoadExptemplateFile</value>
						<value>/exptemplatesdk/server_uploadExptemplateFile</value>
					    <value>/exptemplatesdk/server_getCoursewareByCoursesid</value>
					    <value>/exptemplatesdk/server_getCoursesByTeacherId</value>
					    <value>/exptemplatesdk/server_getExperimentByCoursewareid</value>
					    <value>/exptemplatesdk/server_checkExptemplateName</value>
					    <value>/exptemplatesdk/server_updateExptemplateFile</value>
					    <value>/exptemplatesdk/server_deleteExptemplate</value>
					    <value>/exptemplatesdk/getClassesByCourseId</value>
					    <value>/exptemplatesdk/server_getCoursesByCoursewareid</value>
					    <value>/exptemplatesdk/server_getCoursesAndClsesByCoursewareid</value>
					    <value>/exptemplatesdk/server_addCourseAndClses</value>
					    <value>/exptemplatesdk/server_getCoursesAndClsesByTemplaterid</value>
					    
					    
					    
					    
					    <value>/patchidesdk/server_getPatchIdeList</value>
					    <value>/patchidesdk/server_downLoadPatchIdeFile</value>
						
						<!-- SDK lz -->
						<value>/admin/loginSDK</value><!-- 登陆 -->
						<value>/admin/logoutSDK</value><!-- 退出 -->
						<value>/user/getUserDataSDK</value>
						
						<value>/classes/getClassListSDK</value>
						<value>/classes/getClassListByTeacherIDSDK</value>
						
						<value>/student/getStudentListSDK</value>
						<value>/teacher/getTeacherListSDK</value>
						<value>/administrator/getAdministratorListSDK</value>
						
						<value>/expreport/uploadReportFileSDK</value>
						<value>/expreport/getReportListSDK</value>
						<value>/expreport/getReportListByLearnIDSDK</value>
						<value>/expreport/downloadReportFileSDK</value>
						<value>/expreport/downloadReportFileByPathSDK</value>
						<value>/expreport/deleteReportFile</value>
						<value>/discreteness/uploadDiscretenessFile</value>
						<value>/expreport/updateReportFileSDK</value>

						<value>/discreteness/getDiscretenessListSDK</value>
						<value>/discreteness/downloadFileZipSDK</value>
						
						<value>/archiveshelp/getArchivesHelpListSDK</value>
						<value>/archiveshelp/downloadFileZipSDK</value>
						<value>/archiveshelp/uploadGRCResourseFile</value>
						
					</list>
				</property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"> 
		<!-- 指定所上传文件的总大小不能超过200KB。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 --> 
		<!-- <property name="maxUploadSize" value="200000"/>  -->
	</bean>
      
     <!-- SpringMVC在超出上传文件限制时，会抛出org.springframework.web.multipart.MaxUploadSizeExceededException --> 
     <!-- 该异常是SpringMVC在检查上传的文件信息时抛出来的，而且此时还没有进入到Controller方法中 --> 
     <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"> 
         <property name="exceptionMappings"> 
             <props> 
                 <!-- 遇到MaxUploadSizeExceededException异常时，自动跳转到/WEB-INF/jsp/error_fileupload.jsp页面 --> 
                 <prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">error_fileupload</prop> 
             </props> 
         </property> 
     </bean>
	
	
</beans>
