@charset "utf-8";
#topBar {
    width: 100%;
    height: 100%;
    background: #1d7ec4 url("../images/menu_top/bg.jpg") right top no-repeat;
    overflow: hidden;
}

#topBar div.logo {
    height: 60px;
    float: left;
}

#topMenu {
    float: left;
}

#topMenu ul {
    overflow: auto;
    clear: both;
    padding: 0;
    margin: 0;
}

#topMenu ul li {
    float: left;
    list-style: none;
    padding: 10px 15px 4px;
    margin: 0 auto;
}

#topMenu ul li:hover {
    background-color: #0b709f;
}

#topMenu ul li.menu-item-selected {
    background-color: #095e86;
    height:60px;
}

#topMenu ul li a {
    color: #fff;
    font-family: "microsoft yahei";
    font-size: 12px;
    display: block;
    text-align: center;
    text-decoration: none;
}

#topMenu ul li a img {
    margin: 0 auto 2px;
    display: block;
    border: none;
}

#topMenu ul li a span {
    padding: 0px;
    margin: 0px auto;
}

#topMenuRight {
    float: right;
    margin-right: 50px;
    position: relative;
    z-index: 1;
}

#logOut {
	margin-top:15px;
    margin-bottom: 6px;
    float: right;
    clear: both;
}

#logOut ul {
    padding: 0;
    margin: 0;
    float: right;
}

#logOut ul li {
    float: left;
    margin-left: 7px;
    list-style: none;
    padding:5px 8px;
}
#logOut li:hover{
	background-color: #247AB4;
}

#logOut ul li img {
    float: left;
}

#logOut ul li span {
    color: #8dd2fe;
    font-size: 12px;
    font-family: 'Arial','宋体';
}

#logOut ul li a {
    display: block;
}

#logOut ul li div {
    background: url('../images/menu_top/logout.png') no-repeat;
}

#logoText {
    color: #fff;
    font-size: 16px;
    font-family: "microsoft yahei";
    float: left;
    margin-top: 25px;
    min-width: 190px;
}